.projects {
  margin: 0 12rem;
}

.projects > h2 {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: var(--dark-green-2);
  text-align: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-between;
}

.project img {
  width: 38rem;
  height: 31rem;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-bottom: 1rem;
}

.project-info-container {
  background-color: var(--dark-green);
  width: 38rem;
  height: 44rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: relative;
}

.project-info-container h2 {
  color: #fff;
  padding: 2.4rem 9rem;
  font-size: 2.8rem;
  font-weight: 600;
}

.project-info-container p {
  font-size: 2.2rem;
  line-height: 4rem;
  padding: 0 2.5rem;
  color: var(--light-grey);
}

.btn {
  width: 9rem;
  height: 5.5rem;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
}

.btn-live {
  background-color: #000;
  color: var(--light-grey);
  bottom: 3rem;
  left: 7rem;
}

.btn-code {
  background-color: var(--grey);
  color: #000;
  bottom: 3rem;
  right: 7rem;
}

.btn-more {
  background-color: var(--grey);
  display: inline-block;
  margin-top: 4.5rem;
  font-size: 2rem;
  padding: 1.2rem 2.5rem;
  border-radius: 1rem;
}

.btn-more:hover {
  background-color: var(--main-color);
  color: #fff;
}

.more-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.arrow-icon {
  font-size: 2.5rem;
}

@media only screen and (max-width: 1495px) {
  .projects-container {
    justify-content: center;
  }
  .btn-more {
    display: block;
    margin: 4.5rem auto;
    max-width: 24rem;
  }
}
