.scroll-top {
  position: fixed;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  bottom: 3rem;
  right: 3.5rem;
  color: var(--dark-green);
  border: 2px solid var(--dark-green);
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 0.3s;
}

.scroll-top:hover {
  color: var(--light-grey);
  background-color: var(--dark-green);
}
