nav {
  font-size: 2rem;
  margin: 4rem 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 9.5rem;
}

.nav-links {
  display: flex;
  gap: 6.5rem;
  cursor: pointer;
}

.nav-links li:hover {
  color: var(--main-color);
}
